.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(15, 15, 15, 0.705);
}

.element {
    align-items: center;
    text-align: center;
    text-justify: auto;
    color: antiquewhite;
    font-size: 42px;
    width: 500px;
    height: 400px
}