.container {
    background-color: rgb(84, 128, 122);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    background-color: rgb(207, 39, 207);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin: 10px;
}

@media (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.button:hover {
    background: #2E779A;
    background: -moz-linear-gradient(#2E779A 0%, #2E779A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2E779A), color-stop(100%, #2E779A));
    background: -webkit-linear-gradient(#2E779A 0%, #2E779A 100%);
    background: linear-gradient(#2E779A 0%, #2E779A 100%);
    color: #ffffff;
    transition: 0.7s;
}